<div id="user_registration">
  <h1>Sign up</h1>

  <%= form_for(@user, url: new_user_registration_path, html: {class: "form-horizontal"}) do |f| %>
    <%= devise_error_messages! %>

    <div class="control-group">
      <%= f.label :email, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :email, :autofocus => true %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password, class: "control-label" %>
      <div class="controls">
        <%= f.password_field :password %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password_confirmation, class: "control-label" %>
      <div class="controls">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>

    <%= f.fields_for :profile do |p| %>
      <h2>Profile</h2>

      <div class="control-group">
        <%= p.label :first_name, class: "control-label" %>
        <div class="controls">
          <%= p.text_field :first_name %>
        </div>
      </div>

      <div class="control-group">
        <%= p.label :last_name, class: "control-label" %>
        <div class="controls">
          <%= p.text_field :last_name %>
        </div>
      </div>

      <div class="control-group">
        <%= p.label :location, class: "control-label" %>
        <div class="controls">
          <%= p.text_field :location %>
        </div>
      </div>
    <% end %>

    <p><%= f.submit "Sign up", class: "btn pull-right" %></p>

    <%= render partial: "devise/shared/links" %>
  <% end %>
</div>

